---
import Layout from '@layouts/Layout.astro';
import Heading1 from '@components/component/Heading1.astro';
import MoreLink from '@components/component/MoreLink.astro';
---

<Layout title="About">
	<div class="p-about">
		<Heading1 text="About" />
		<div class="p-about__content">
			<img src="/profile.png" alt="" class="p-about__profile-img" />
			<div class="p-about__text">
				<p>福岡の制作会社でマークアップエンジニアをやっている者です。</p>
				<MoreLink text="Github" href="https://github.com/yusasa16" isBlank={true} />
			</div>
		</div>
	</div>
</Layout>

<style lang="scss">
	.p-about {
		margin-inline: auto;
		padding-inline: 20px;
		max-width: 827px;

		&__content {
			margin-block-start: 40px;
		}

		&__profile-img {
			margin-inline: auto;
			max-width: 160px;
			border-radius: 10000px;
			border: 5px solid var(--color-gray);
			display: block;
		}

		&__text {
			margin-inline: auto;
			margin-block-start: 20px;
			width: fit-content;
		}
	}
</style>
