---
import { css } from '@styled-system/css';
import Layout from '@layouts/Layout.astro';
import Heading1 from '@components/component/Heading1.astro';
---

<Layout title="About">
	<div
		class={css({
			marginInline: 'auto',
			paddingInline: '20px',
			maxWidth: '827px',
		})}
	>
		<Heading1 text="About" />
		<p>福岡の制作会社でマークアップエンジニアをやっている者です。</p>
	</div>
</Layout>
