---
import { css } from '@styled-system/css';
import Layout from '@layouts/Layout.astro';
import Heading1 from '@components/component/Heading1.astro';
import Pagenation from '@components/component/Pagenation.astro';

import getMicrocms from '@libs/getMicrocms';
import type { GetStaticPathsOptions } from 'astro';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
	const blogList = await getMicrocms('blogs');
	return paginate(blogList.contents, { pageSize: 9 });
}

const { page } = Astro.props;
---

<Layout title="Blog">
	<div
		class={css({
			marginInline: 'auto',
			paddingInline: '20px',
			maxWidth: '827px',
		})}
	>
		<Heading1 text="Blog" />
		<div
			class={css({
				marginBlockStart: '70px',
			})}
		>
			<ul
				class={css({
					display: 'grid',
					gridTemplateColumns: '1fr',
					gap: '24px',
					md: {
						gridTemplateColumns: 'repeat(3, 1fr)',
					},
				})}
			>
				{
					page.data.map(blog => (
						<li>
							<a href={`/blog/${blog.id}`}>
								<div
									class={css({
										aspectRatio: '1200 / 630',
										display: 'flex',
										justifyContent: 'center',
										alignItems: 'center',
									})}
								>
									{blog.eyecatch ? (
										<img src={blog.eyecatch.url} alt="" />
									) : (
										<img src="/ysk.svg" />
									)}
								</div>
								<p>{blog.title}</p>
							</a>
						</li>
					))
				}
			</ul>
		</div>
		<div
			class={css({
				marginBlockStart: '40px',
			})}
		>
			<Pagenation page={page} pagePath="/blog/pages/" />
		</div>
	</div>
</Layout>
