---
import Layout from '@layouts/Layout.astro';
import Heading1 from '@components/component/Heading1.astro';
import Pagenation from '@components/component/Pagenation.astro';

import getMicrocms from '@libs/getMicrocms';
import type { GetStaticPathsOptions } from 'astro';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
	const blogList = await getMicrocms('blogs');
	return paginate(blogList.contents, { pageSize: 9 });
}

const { page } = Astro.props;
---

<Layout title="Blog">
	<div class="p-blog-index">
		<Heading1 text="Blog" />
		<ul class="p-blog-index__list">
			{
				page.data.map(blog => (
					<li>
						<a class="p-blog-index__item" href={`/blog/${blog.id}`}>
							<div class="p-blog-index__thumb">
								{blog.eyecatch ? <img src={blog.eyecatch.url} alt="" /> : <img src="/thumb-ysk.png" />}
							</div>
							<p class="p-blog-index__title">{blog.title}</p>
						</a>
					</li>
				))
			}
		</ul>
		<div class="p-blog-index__pagination">
			<Pagenation page={page} pagePath="/blog/pages/" />
		</div>
	</div>
</Layout>

<style lang="scss">
	@use '@styles/variables/index';

	.p-blog-index {
		margin-inline: auto;
		padding-inline: 20px;
		max-width: 827px;

		&__list {
			margin-block: 70px 0;
			padding-inline: 0;
			list-style: none;
			display: grid;
			grid-template-columns: 1fr;
			gap: 24px;

			@media (--pc-vp) {
				grid-template-columns: repeat(3, 1fr);
			}
		}
		&__item {
			color: inherit;
			text-decoration: none;
		}

		&__thumb {
			aspect-ratio: 1200 / 630;
			display: flex;
			justify-content: center;
			align-items: center;

			> img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&__title {
			margin-block: 1.6rem 0;
		}

		&__pagination {
			margin-block-start: 40px;
		}
	}
</style>
