---
import { css } from '@styled-system/css';
import Layout from '@layouts/Layout.astro';
import Heading2 from '@components/component/Heading2.astro';

import getMicrocms from '@libs/getMicrocms';
import type { blogListType } from '@types/blog';
const blogList: blogListType = await getMicrocms('blogs');
---

<Layout title="Blog">
	<div
		class={css({
			marginInline: 'auto',
			paddingInline: '20px',
			maxWidth: '827px',
		})}
	>
		<Heading2 text="Blog" />
		<div
			class={css({
				marginBlockStart: '70px',
			})}
		>
			<ul
				class={css({
					display: 'grid',
					gridTemplateColumns: '1fr',
					gap: '24px',
					md: {
						gridTemplateColumns: 'repeat(3, 1fr)',
					},
				})}
			>
				{
					blogList.contents.map(blog => (
						<li>
							<a href={`/blog/${blog.id}`}>
								<img src={blog.eyecatch.url} alt="" />
								<p>{blog.title}</p>
							</a>
						</li>
					))
				}
			</ul>
		</div>
	</div>
</Layout>
