---
import { css } from '@styled-system/css';
import Layout from '@layouts/Layout.astro';
import Heading2 from '@components/component/Heading2.astro';
import MoreLink from '@components/component/MoreLink.astro';
import type { blogListType } from '@types/blog';

import getMicrocms from '@libs/getMicrocms';
import type { blogListType, blogType } from '@types/blog';

const { id } = Astro.params;

export async function getStaticPaths() {
	const blogList: blogListType = await getMicrocms('blogs');
	const pathList: {
		params: { id: string };
	}[] = [];
	blogList.contents.forEach(blog => {
		pathList.push({
			params: { id: blog.id },
		});
	});
	return pathList;
}

const blog: blogType = await getMicrocms('blogs', id);
---

<Layout title={blog.title}>
	<div
		class={css({
			marginInline: 'auto',
			paddingInline: '20px',
			maxWidth: '827px',
		})}
	>
		<article>
			<Heading2 text={blog.title} />
			<div
				set:html={blog.content}
				class={css({
					marginBlockStart: '70px',
				})}
			/>
		</article>
		<div class={css({ textAlign: 'center', marginBlockStart: '70px' })}>
			<MoreLink text="ブログ一覧に戻る" href="/blog/" />
		</div>
	</div>
</Layout>
