---
export const prerender = false;
import { css } from '@styled-system/css';
import Layout from '@layouts/Layout.astro';
import Heading2 from '@components/component/Heading2.astro';
import MoreLink from '@components/component/MoreLink.astro';

const { id } = Astro.params;

import getMicrocms from '@libs/getMicrocms';
import type { blogType } from '@types/blog';
const blog: blogType = await getMicrocms('blogs', id);
---

<Layout title={blog.title}>
	<div
		class={css({
			marginInline: 'auto',
			paddingInline: '20px',
			maxWidth: '827px',
		})}
	>
		<article>
			<Heading2 text={blog.title} />
			<div
				set:html={blog.content}
				class={css({
					marginBlockStart: '70px',
				})}
			/>
		</article>
		<div class={css({ textAlign: 'center', marginBlockStart: '70px' })}>
			<MoreLink text="ブログ一覧に戻る" href="/blog/" />
		</div>
	</div>
</Layout>
