---
import { css } from "../../../styled-system/css";
---

<section>
	<picture>
		<img src="https://placehold.jp/2560x840.png" alt="メインビジュアル ダミーの画像が置かれており、画像の中央にはこのダミー画像のサイズが記載されている"
			class={css({width: "100%", maxWidth: "1280px", height: "420px", marginInline: "auto", objectFit: "cover"})}
		>
	</picture>
</section>
