---
import { css } from '@styled-system/css';

interface Props {
	text: string;
}

const { text } = Astro.props;
---

<h2
	class={css({
		textAlign: 'center',
		fontSize: '2.4rem',
		fontWeight: 'bold',
	})}
>
	{text}
</h2>
