---
const { text, href, isBlank } = Astro.props;
---

<div class="text-center">
	<a href={href} target={isBlank ? '_blank' : null} class="underline underline-offset-4 hover:no-underline">{text}</a>
</div>
