---
const { text, href, isBlank } = Astro.props;
---

<div class="c-more-link">
	<a href={href} target={isBlank ? '_blank' : null}>{text}</a>
</div>

<style lang="scss">
	.c-more-link {
		text-align: center;

		> a {
			text-decoration: underline;
			text-underline-offset: 0.4rem;

			&::hover {
				@media (hover: hover) {
					text-decoration: none;
				}
			}
		}
	}
</style>
