---
const menuList = [
	{
		text: 'About',
		href: '/about/',
	},
	{
		text: 'Blog',
		href: '/blog/',
	},
	// {
	// 	text: 'Coding Patterns',
	// 	href: '/coding-patterns/',
	// },
	// {
	// 	text: 'Contact',
	// 	href: '/contact/',
	// },
];

const { isHome = false } = Astro.props;
---

<header class="l-header">
	<div class="l-header__container">
		{
			isHome ? (
				<h1 class="l-header__title">Yusaku SATO</h1>
			) : (
				<div class="l-header__title">
					<a href="/">Yusaku SATO</a>
				</div>
			)
		}
		<nav class="l-header__nav">
			<ul>
				{
					menuList.map(menu => {
						return (
							<li>
								<a href={menu.href}>{menu.text}</a>
							</li>
						);
					})
				}
			</ul>
		</nav>
	</div>
</header>

<style lang="scss">
	.l-header {
		padding-block: 1.6rem;

		@media screen and (min-width: 768px) {
			padding-block: 2rem;
		}

		&__container {
			max-width: 87rem;
			padding-inline: 1.5rem;
			margin-inline: auto;
			display: flex;
			flex-direction: column;
			align-items: center;

			@media screen and (min-width: 768px) {
				flex-direction: row;
				justify-content: space-between;
			}
		}

		&__title {
			font-weight: normal;
			font-size: 2.7rem;

			> a {
				color: inherit;
				text-decoration: none;
			}
		}

		&__nav {
			> ul {
				display: flex;
				gap: 1rem 3.2rem;
				flex-wrap: wrap;
				font-size: 1.4rem;

				a {
					transition: opacity 300ms;

					&:hover {
						@media (hover: hover) {
							opacity: 0.6;
						}
					}
				}
			}
		}
	}
</style>
