---
import Heading2 from '@components/component/Heading2.astro';
import MoreLink from '@components/component/MoreLink.astro';

import getMicrocms from '@libs/getMicrocms';
import type { blogListType } from '@types/blog';

const blogList: blogListType = await getMicrocms('blogs');
---

<section class="c-top-blog">
	<div class="max-w-4xl px-3.5 mx-auto">
		<Heading2 text="Blog" />
		<ul class="mt-11">
			{
				blogList.contents.slice(0, 5).map(blog => {
					return (
						<li class="border-b first:border-t border-gray-400">
							<a href={`/blog/${blog.id}`} class="grid p-3.5 hover:opacity-60">
								{(() => {
									const createdDate = new Date(blog.createdAt);
									return (
										<span>
											{createdDate.getFullYear()}年{createdDate.getMonth() + 1}月{createdDate.getDate()}日
										</span>
									);
								})()}

								<span>{blog.title}</span>
							</a>
						</li>
					);
				})
			}
		</ul>

		<div class="mt-14">
			<MoreLink text="ブログ一覧" href="/blog/" />
		</div>
	</div>
</section>
