---
import Heading2 from '@components/component/Heading2.astro';
import MoreLink from '@components/component/MoreLink.astro';

import getMicrocms from '@libs/getMicrocms';
import type { blogListType } from '@types/blog';

const blogList: blogListType = await getMicrocms('blogs');
---

<section class="c-top-blog">
	<div class="c-top-blog__container">
		<Heading2 text="Blog" />
		<ul class="c-top-blog__list">
			{
				blogList.contents.slice(0, 5).map(blog => {
					return (
						<li>
							<a href={`/blog/${blog.id}`} class="c-top-blog__list-item">
								{(() => {
									const createdDate = new Date(blog.createdAt);
									return (
										<span>
											{createdDate.getFullYear()}年{createdDate.getMonth() + 1}月{createdDate.getDate()}日
										</span>
									);
								})()}

								<span>{blog.title}</span>
							</a>
						</li>
					);
				})
			}
		</ul>

		<div class="c-top-blog__more">
			<MoreLink text="ブログ一覧" href="/blog/" />
		</div>
	</div>
</section>

<style lang="scss">
	.c-top-blog {
		&__container {
			max-width: 87rem;
			padding-inline: 1.5rem;
			margin-inline: auto;
		}

		&__list {
			margin-block: 4.5rem 0;
			list-style: none;

			@media screen and (min-width: 768px) {
				margin-block-start: 7rem;
			}

			> li {
				border: 0 solid var(--color-gray02);
				border-block-end-width: 1px;

				&:first-of-type {
					border-block-start-width: 1px;
				}
			}

			&-item {
				display: grid;
				padding: 1.5rem;
				text-decoration: none;
				color: inherit;
				transition: opacity 300ms;

				&:hover {
					@media (hover: hover) {
						opacity: 0.6;
					}
				}
			}
		}

		&__more {
			margin-block-start: 5.4rem;
		}
	}
</style>
