---
import { css } from '@styled-system/css';
interface Props {
	blogList: blogListType;
	slice: number;
}

type blogListType = {
	href: string;
	date: string;
	title: string;
}[];

const { blogList, slice } = Astro.props;
---

<ul>
	{
		blogList.slice(0, slice).map((blog, index) => {
			return (
				<li
					class={css({
						borderBlockEnd: '1px solid #c8c8c8',
						borderBlockStart: index === 0 ? '1px solid #c8c8c8' : '',
					})}
				>
					<a
						href={blog.href}
						class={css({
							display: 'grid',
							paddingBlock: '15px',
							paddingInline: '15px',
							transition: 'opacity 300ms',
							'@media (hover: hover)': {
								_hover: {
									opacity: '0.6',
								},
							},
						})}
					>
						<span>{blog.date}</span>
						<span>{blog.title}</span>
					</a>
				</li>
			);
		})
	}
</ul>

<div
	class={css({
		textAlign: 'center',
		marginBlockStart: '10px',
	})}
>
	<a href="/blog/">一覧へ</a>
</div>
