---
import Heading2 from '@components/component/Heading2.astro';
import MoreLink from '@components/component/MoreLink.astro';

const workList = [
	{
		href: '__URL__',
		src: 'https://placehold.jp/528x344.png',
		alt: 'altダミーテキスト',
	},
	{
		href: '__URL__',
		src: 'https://placehold.jp/528x344.png',
		alt: 'altダミーテキスト',
	},
	{
		href: '__URL__',
		src: 'https://placehold.jp/528x344.png',
		alt: 'altダミーテキスト',
	},
];
---

<section class="c-top-coding-pattern">
	<div class="c-top-coding-pattern__container">
		<Heading2 text="Coding Patterns" />
		<ul class="c-top-coding-pattern__list">
			{
				workList.map(work => {
					return (
						<li>
							<a href={work.href} class="c-top-coding-pattern__list-item">
								<img src={work.src} alt={work.alt} />
							</a>
						</li>
					);
				})
			}
		</ul>
		<div class="c-top-coding-pattern__more">
			<MoreLink text="コーディングパターン一覧" href="/coding-patterns/" />
		</div>
	</div>
</section>

<style lang="scss">
	@use '@styles/variables/index';
	.c-top-coding-pattern {
		&__container {
			max-width: 87rem;
			padding-inline: 1.5rem;
			margin-inline: auto;
		}

		&__list {
			margin-block-start: 4.5rem;

			@media (--pc-vp) {
				margin-block-start: 7rem;
				grid-template-columns: repeat(3, 1fr);
			}

			&-item {
				img {
					display: block;
					width: 100%;
					aspect-ratio: 264 / 172;
					object-fit: cover;
				}
			}
		}
	}
</style>
