---
import { css } from '@styled-system/css';
---

<div>
	<picture>
		<img
			src="https://picsum.photos/id/56/2560/840"
			alt="メインビジュアル ダミーの画像が置かれており、画像の中央にはこのダミー画像のサイズが記載されている"
			class={css({
				width: '100%',
				maxWidth: '1280px',
				height: '420px',
				marginInline: 'auto',
				objectFit: 'cover',
			})}
		/>
	</picture>
</div>
