---

---

<div class="c-hero">
	<img src="/ysk.svg" />
</div>

<style lang="scss">
	.c-hero {
		max-width: 128rem;
		height: 42rem;
		max-height: calc(420 / 1280 * 100vw);
		margin-inline: auto;

		> img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
</style>
