---
import Layout from "../layouts/Layout.astro";
import HomeMV from "../components/modules/HomeMV.astro"
import HomeAbout from "../components/modules/HomeAbout.astro"
---

<Layout title="Welcome to Astro." isHome={true}>
	<main>
		<HomeMV />
		<HomeAbout />
	</main>
</Layout>
