---
import { css } from '@styled-system/css';
import Layout from '@layouts/Layout.astro';
import Hero from '@components/project/index/Hero.astro';
import CodingPattern from '@components/project/index/CodingPattern.astro';
import Blog from '@components/project/index/Blog.astro';
---

<Layout title="Yusaku SATOのウェブサイト" isHome={true}>
	<Hero />
	<div class={css({ marginBlockStart: '88px' })}>
		<Blog />
	</div>
	<div class={css({ marginBlockStart: '77px' })}>
		<CodingPattern />
	</div>
</Layout>
