---
import { css } from '../../styled-system/css';
import Layout from '../layouts/Layout.astro';
import HomeMV from '../components/modules/HomeMV.astro';
import HomeWorks from '../components/modules/HomeWorks.astro';
import HomeBlog from '../components/modules/HomeBlog.astro';
---

<Layout title="Welcome to Astro." isHome={true}>
	<main>
		<HomeMV />
		<div class={css({ marginBlockStart: '88px' })}>
			<HomeWorks />
		</div>
		<div
			class={css({
				marginBlockStart: '77px',
				md: { marginBlockStart: '137px' },
			})}
		>
			<HomeBlog />
		</div>
	</main>
</Layout>
