---
import { css } from '../../styled-system/css';
import Layout from '../layouts/Layout.astro';
import HomeMV from '../components/modules/HomeMV.astro';
import HomeWorks from '../components/modules/HomeWorks.astro';
---

<Layout title="Welcome to Astro." isHome={true}>
	<main>
		<HomeMV />
		<div class={css({ marginBlockStart: '88px' })}>
			<HomeWorks />
		</div>
	</main>
</Layout>
