---
import { css } from "../../../styled-system/css";
import Heading2 from "../../components/ui/Heading2";
---

<section class={css({bg: "bg02"})}>
	<Heading2 mainText={['How I Can Help ','You With']} subText="Service"/>
</section>
