@layer reset, base, tokens, recipes, utilities;

:root {
	font-size: 62.5%;
}
html {
	font-family: system-ui, sans-serif;
}
body {
	font-size: 1.6rem;
}
code {
	font-family:
		Menlo,
		Monaco,
		Lucida Console,
		Liberation Mono,
		DejaVu Sans Mono,
		Bitstream Vera Sans Mono,
		Courier New,
		monospace;
}
