---
import '../index.css';
import { css } from '../../styled-system/css';
interface Props {
	title: string;
	isHome?: boolean;
}
import CmnHeader from '../components/modules/CmnHeader.astro';
import CmnFooter from '../components/modules/CmnFooter.astro';
const { title, isHome = false } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="ポートフォリオサイト" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<CmnHeader isHome={isHome} />
		<slot />
		<div
			class={css({
				marginBlockStart: '200px',
			})}
		>
			<CmnFooter />
		</div>
	</body>
</html>
