---
import 'normalize.css';
import '@styles/variables/color.scss';
import '@styles/_all.scss';
import '@styles/index.css';
interface Props {
	title: string;
	isHome?: boolean;
}
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
const { title, isHome = false } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="ポートフォリオサイト" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet" />
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-6JFE2BMD1C"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', 'G-6JFE2BMD1C');
		</script>
	</head>
	<body class="l-main">
		<Header isHome={isHome} />
		<main class="l-main__main">
			<slot />
		</main>
		<div class="l-main__footer">
			<Footer />
		</div>
	</body>
</html>

<style lang="scss">
	.l-main {
		&__footer {
			margin-block-start: 20rem;
		}
	}
</style>
